.footer-section {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    justify-content: space-between;
    padding: 150px 100px 20px 100px;
    background-color: #0f0f0f;
    font-family: 'Poppins', sans-serif;
}

.footer-container {
    margin: 0px auto;
}

.app-logo {
    width: 98%;
}

.footer-text {
    margin: 3px;
}

.footer-text a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(224, 224, 224);
}

.footer-text a:hover {
    color: #29613d;
}

.footer-span {
    color: #29613d;
}

.company-others {
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 20px;
}

.social-icon-container {
    margin-top: 10px;
    display: flex;
    gap: 15px;
}

.social-icon {
    color: #616161;
    font-size: 36px;
}

.social-icon:hover {
    color: #29613d;
}

.footer-bottom {
    background-color: #0f0f0f;
    color: rgb(224, 224, 224);
    text-align: center;
    padding: 18px;
}



@media screen and (max-width: 576px) {
    .footer-section {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-between;
        padding: 50px 30px 5px 30px;

    }

    .company-others {
        display: flex;
        justify-content: space-between;
        padding: 20px 10px 0px 10px;
    }

    .footer-container {
        text-align: center;
        padding: 10px 0;
    }

    .social-media {
        display: none;
    }

    .footer-others {
        text-align: right;
    }
}