.banner-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    grid-gap: 40px 40px;
    padding: 110px 80px 0 80px;
    background-color: #0f0f0f;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.banner-section img {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.banner-line {
    position: absolute;
    height: 1px;
    width: 65%;
    left: 0;
    bottom: 5px;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}

.text-color-two {
    color: rgba(255, 255, 255, 0.938);
}

.gradient-text-one {
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@media screen and (max-width: 481px) {

    .banner-section {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        grid-gap: 0px;
        padding: 0px;
        background-color: #0f0f0f;
        position: relative;
    }


    .banner-text {
        padding: 40px 20px;
    }


    .banner-section img {
        display: block;
        margin: 50px auto;
        width: 80%;
    }

}